@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", serif;
}
.main{
    background-image:url(img/bg.png);
    height: 100vh;
}
.container{
    max-width: 1200px;
    margin: auto;
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img{
    width: 100px;
}
.menu ul{
    display: flex;
}
.menu ul li{
    font-size: 16px;
  list-style: none;
  color: white;
  margin: 5px 25px;
}

.buttons button {
    display: inline-block;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 25px;
}
.buttons button a{
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: white;
}

/* Hero Section */

.hero{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.hero-left h6{
    font-size: 14px;
    color: white;
    margin-bottom: 16px;
}
.hero-left h1{
    font-size: 61px;
    color: white;
    font-weight: 600;
    margin-bottom: 16px;
}
.hero-left p{
    width: 75%;
    font-size: 14px;
    color: white;
    margin-bottom: 30px;
}
.prices{
    display: flex;
    align-items: center;
}
.prices .btn{
    font-size: 12px;
    font-weight: 600;
    color: white;
    background-color: burlywood;
    border: 1px solid burlywood;
    border-radius: 3px;
    padding: 5px 15px;
    margin-right: 12px;
}
.prices h4{
    font-size: 18px;
    color: white;
    margin-right: 5px;
}
.prices span{
    font-size: 10px;
    color: burlywood;
}
.hero-right img{
    max-width: 600px;
}

/* footer */
.footer-content{
    text-align: center;
    margin-top: 25px;
}
.footer-content p {
    font-size: 12px;
    color: white;
}